{% extends 'base.html' %}

{% block content %}

    <br><br>
    {% load staticfiles %}
    <img src="{% static 'lion.JPG' %}" alt=""> &emsp;&emsp;
    <img src="{% static 'like.JPG' %}" alt="">
    
    <br><br>

    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">제목</th>
        <th scope="col">작성시간</th>
        <th scope="col">내용</th>
        </tr>
    </thead>
    <tbody>
        {% for blog in posts %}

        <tr>
        <td><a href="{% url 'detail' blog.id %}">
                <h2>{{ blog.title }}</h2>
            </a>
        </td>
        <td>
                <p>{{ blog.pub_date }}</p>
        </td>
        <td> <p>{{ blog.summary }}
                <a href="{% url 'detail' blog.id %}">.... more</a> </p>
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
    {%if posts.has_previous%}
    <a href = "?page=1">First</a>
    <a href ="?page = {{posts.previous_page_number}}">previous</a>
    {%endif%}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_page}}</span>

    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {%endif%}


{% endblock %}